.section-team {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.team-list-item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 120px) / 4);
    background: var(--title-color);
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
}

.team-list-item-container {
    padding-top: 30px;
    background: var(--title-color);
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-description {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--description-color);
    margin-top: 10px;
}

.team-social-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.team-social-list-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .team-social-list-link:hover &,
    .team-social-list-link:focus & {
        fill: var(--title-color);
    }
}

.team-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.team-social-list-item:not(:first-child) {
    margin-left: 10px;
}