.logo-prefix {
    color: var(--accent-color);
}

.logo-header-link {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    margin-right: 93px;

    &:focus {
        color: #000000;
    }
}

.logo-footer-link {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--title-color);

    &:focus {
        color: var(--title-color);
    }
}